<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Student Registration System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="author" content="O. Kalu">
	<link rel="icon" href="favicon.ico">
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 8px;
			text-align: left;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a style="padding-right: 2em;" class="navbar-brand" href="/eregistrar/home">
			Hang Nguyen's eRegistrar</a>
		<!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
					<a class="nav-link" href="/eregistrar/home">Home</a>
				</li>
				<li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
					<a class="nav-link" href="/eregistrar/students">List of Students</a>
				</li>
				<li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
					<a class="nav-link" href="/eregistrar/register">Register New Student</a>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
				<!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
				<!--<a href="#" class="btn btn-secondary">Sign In</a>-->
			</form>
		</div>
	</nav>

	<p>&nbsp;</p>

	<h3 class="text-center">List of Students</h3>
	<p>&nbsp;</p>
	
	<div class="row justify-content-center">	
		<table>
			<tr>
				<th>Student Number</th>
				<th>First Name</th>
				<th>Middle Name</th>
				<th>Last Name</th>
				<th>CGPA</th>
				<th>Date of Enrollment</th>
				<th>International</th>
				<th>Action</th>
			</tr>
			<tr th:each="student : ${students}">
				<td th:text="${student.studentNumber}"></td>
				<td th:text="${student.firstName}"></td>
				<td th:text="${student.middleName}"></td>
				<td th:text="${student.lastName}"></td>
				<td th:text="${student.cgpa}"></td>
				<td th:text="${#dates.format(student.dateOfEnrollment, 'dd/MM/yyyy')}"></td>
				<td><input type="checkbox" th:checked="${student.isInternational}" disabled="disabled"> </input></td>
				<td>
					<a style="padding: 10px;" th:href="@{/eregistrar/edit/{id}(id=${student.studentId})}">Edit</a>
					<a style="padding: 10px;" th:href="@{/eregistrar/delete/{id}(id=${student.studentId})}">Delete</a>
				</td>
				</t<r>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

</body>

</html>